@import "colors";
@import "fonts";

.home {
  padding: 25px;
  border-radius: 15px;
  padding: 25px;
  width: calc(100% - 50px);
  background: white;

  &__catalog {
    &__title {
      color: white;
      font-weight: bold;
      text-align: center;
      padding: 71px;
      background: url(//static.rentcars.com/imagens/modules/localidade/bgs/rent-cars.jpg);
    }
    &__container {
      display: grid;
      gap: 25px;
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 10px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
